In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('corona.csv')

In [3]:
df

           fever  bodypain  age  runnynose  diffbreath  infected
0      99.329862         0   26          1          -1         0
1      98.115263         1   61          1           0         1
2      99.918088         1   13          0          -1         0
3     101.344456         1   55          1           0         1
4     100.056678         1   37          0           1         0
...          ...       ...  ...        ...         ...       ...
1994  101.671891         1   33          1          -1         1
1995  101.673979         1   38          0           1         1
1996   99.804430         1   76          0          -1         1
1997   98.565582         1   62          1          -1         1
1998  101.235846         0   14          1           0         0

[1999 rows x 6 columns]

In [4]:
df.groupby('infected').infected.count()

infected
0     992
1    1007
Name: infected, dtype: int64

In [5]:
target = df[['infected']]
target

      infected
0            0
1            1
2            0
3            1
4            0
...        ...
1994         1
1995         1
1996         1
1997         1
1998         0

[1999 rows x 1 columns]

In [6]:
data = df.drop(['infected'], axis=1)
data

           fever  bodypain  age  runnynose  diffbreath
0      99.329862         0   26          1          -1
1      98.115263         1   61          1           0
2      99.918088         1   13          0          -1
3     101.344456         1   55          1           0
4     100.056678         1   37          0           1
...          ...       ...  ...        ...         ...
1994  101.671891         1   33          1          -1
1995  101.673979         1   38          0           1
1996   99.804430         1   76          0          -1
1997   98.565582         1   62          1          -1
1998  101.235846         0   14          1           0

[1999 rows x 5 columns]

In [7]:
data = data.to_numpy()

In [8]:
data

array([[ 99.32986249,   0.        ,  26.        ,   1.        ,
         -1.        ],
       [ 98.11526304,   1.        ,  61.        ,   1.        ,
          0.        ],
       [ 99.9180884 ,   1.        ,  13.        ,   0.        ,
         -1.        ],
       ...,
       [ 99.80443007,   1.        ,  76.        ,   0.        ,
         -1.        ],
       [ 98.56558173,   1.        ,  62.        ,   1.        ,
         -1.        ],
       [101.2358456 ,   0.        ,  14.        ,   1.        ,
          0.        ]])

In [9]:
target = target.to_numpy()

In [10]:
target

array([[0],
       [1],
       [0],
       ...,
       [1],
       [1],
       [0]], dtype=int64)

In [11]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=3)

i = 1

for train_index, test_index in folds.split(data, target):
    
    if(i==1):
        train_data_1 = pd.DataFrame(data=data[train_index], columns=['fever','bodypain','age','runnynose','diffbreath'])
        test_data_1 = pd.DataFrame(data=data[test_index], columns=['fever','bodypain','age','runnynose','diffbreath'])
        train_target_1 = pd.DataFrame(data=target[train_index], columns=['infected'])
        test_target_1 = pd.DataFrame(data=target[test_index], columns=['infected'])
        train_1 = pd.concat([train_data_1, train_target_1], axis=1)
        test_1 = pd.concat([test_data_1, test_target_1], axis=1)
        
        train_1.to_csv(r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-1\train_1.csv', index = False, header=True)
        test_1.to_csv(r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-1\test_1.csv', index = False, header=True)
        
        
    if(i==2):
        train_data_2 = pd.DataFrame(data=data[train_index], columns=['fever','bodypain','age','runnynose','diffbreath'])
        test_data_2 = pd.DataFrame(data=data[test_index], columns=['fever','bodypain','age','runnynose','diffbreath'])
        train_target_2 = pd.DataFrame(data=target[train_index], columns=['infected'])
        test_target_2 = pd.DataFrame(data=target[test_index], columns=['infected'])
        train_2 = pd.concat([train_data_2, train_target_2], axis=1)
        test_2 = pd.concat([test_data_2, test_target_2], axis=1)
        train_2.to_csv(r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-2\train_2.csv', index = False, header=True)
        test_2.to_csv(r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-2\test_2.csv', index = False, header=True)
        
    if(i==3):
        train_data_3 = pd.DataFrame(data=data[train_index], columns=['fever','bodypain','age','runnynose','diffbreath'])
        test_data_3 = pd.DataFrame(data=data[test_index], columns=['fever','bodypain','age','runnynose','diffbreath'])
        train_target_3 = pd.DataFrame(data=target[train_index], columns=['infected'])
        test_target_3 = pd.DataFrame(data=target[test_index], columns=['infected'])
        train_3 = pd.concat([train_data_3, train_target_3], axis=1)
        test_3 = pd.concat([test_data_3, test_target_3], axis=1)
        train_3.to_csv(r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-3\train_3.csv', index = False, header=True)
        test_3.to_csv(r'C:\Users\Nafisa\Jupyter\covid19-symptoms-classification\Github Upload\With Ensemble Method\fold-3\test_3.csv', index = False, header=True)
    
    i = i+1

In [12]:
train_1.groupby('infected').infected.count()

infected
0    661
1    671
Name: infected, dtype: int64

In [13]:
train_1

           fever  bodypain   age  runnynose  diffbreath  infected
0      99.271861       1.0  13.0        0.0         0.0         0
1      99.379623       1.0  57.0        1.0        -1.0         0
2     101.799244       1.0  39.0        0.0         0.0         0
3     102.672971       0.0  35.0        0.0         0.0         0
4     102.874816       1.0  24.0        1.0         0.0         0
...          ...       ...   ...        ...         ...       ...
1327  101.671891       1.0  33.0        1.0        -1.0         1
1328  101.673979       1.0  38.0        0.0         1.0         1
1329   99.804430       1.0  76.0        0.0        -1.0         1
1330   98.565582       1.0  62.0        1.0        -1.0         1
1331  101.235846       0.0  14.0        1.0         0.0         0

[1332 rows x 6 columns]

In [14]:
test_1.groupby('infected').infected.count()

infected
0    331
1    336
Name: infected, dtype: int64